node_modules/
**/node_modules/

.env
**/.env
.env.local
.env.*.local

dist/
build/
**/dist/
**/build/

uploads/
**/uploads/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
.DS_Store
Thumbs.db
